{strip}

{$_is_dialog = $wa->get('cart')}

<div class="s-product-cart {if $_is_dialog}is-dialog{/if}">
    <form id="s-product-form{if $_is_dialog}-dialog{/if}" method="post" action="{$wa->getUrl('/frontendCart/add')}">

        <h4>{sprintf('[`Buy %s`]',$product.name|escape)}</h4>
        {if $_is_dialog}
            {$wa->shop->productImgHtml($product, '96x96', [ 'itemprop' => 'image', 'id' => 'product-image', 'alt' => $product.name|escape ])}
        {/if}
        {if $product.summary}
            <p>{$product.summary|truncate:512}</p>
        {/if}

        {if $product.sku_type}
            {* SELECTABLE FEATURES selling mode *}
            {$default_sku_features = $product.sku_features}
            {$product_available = $product.status}

            <div class="s-options-wrapper">
                {if $theme_settings.selectable_features_control == 'inline'}
                    {foreach $features_selectable as $f}
                        <div class="inline-select {if $f.type == 'color'}color{/if}">
                            {foreach $f.values as $v_id => $v}
                                {if !isset($default_sku_features[$f.id])}{$default_sku_features[$f.id]=$v_id}{/if}
                                <a class="{if $default_sku_features[$f.id] == $v_id}selected{/if}" data-sku-id="{$f.id}:{$v_id};" data-value="{$v_id}" href="javascript:void(0);" style="{if $f.type == 'color'}{$v->style}{/if}">
                                    {if $f.type == 'color'}
                                        <span class="color_name">{strip_tags($v)}</span>
                                    {else}
                                        {$v}
                                    {/if}
                                </a>
                            {/foreach}
                            <input type="hidden" data-feature-id="{$f.id}" class="sku-feature" name="features[{$f.id}]" value="{ifset($default_sku_features[$f.id])}">
                        </div>
                    {/foreach}
                {else}
                    {foreach $features_selectable as $f}
                        {$f.name}:
                        <select data-feature-id="{$f.id}" class="sku-feature" name="features[{$f.id}]">
                            {foreach $f.values as $v_id => $v}
                                <option value="{$v_id}" {if $v_id == ifset($default_sku_features[$f.id])}selected{/if}>{$v}</option>
                            {/foreach}
                        </select>
                    {/foreach}
                {/if}
            </div>

            {* list all SKUs for Schema.org markup *}
            {foreach $product.skus as $sku}
                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    {$sku_available =  $product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
                    {if $sku.name}<meta itemprop="name" content="{$sku.name|escape}">{/if}
                    <meta itemprop="price" content="{shop_currency($sku.price, $product.currency, null, 0)}">
                    <meta itemprop="priceCurrency" content="{$wa->shop->currency()}">
                    {if (!($sku.count === null) && $sku.count <= 0)}
                        <link itemprop="availability" href="http://schema.org/OutOfStock" />
                    {else}
                        <link itemprop="availability" href="http://schema.org/InStock" />
                    {/if}
                </div>
            {/foreach}

        {else}

            {* FLAT SKU LIST selling mode *}
            {$product_available = false}
            {if count($product.skus) > 1}
                <div class="skus">
                    {foreach $product.skus as $sku}
                        {$sku_available =  $product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
                        <div class="skus-item" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <label{if !$sku.available} class="disabled"{/if}>
                                <input name="sku_id" type="radio" value="{$sku.id}"
                                    data-compare-price="{shop_currency($sku.compare_price, $product.currency, null, 0)}"
                                    data-price="{shop_currency($sku.price, $product.currency, null, 0)}"
                                    {if !$sku.available} disabled="true"{/if}
                                    {if !$sku_available}data-disabled="1"{/if}
                                    {if $sku.id == $product.sku_id}checked="checked"{/if}
                                    {if $sku.image_id} data-image-id="{$sku.image_id}"{/if}>
                                <span itemprop="name">{$sku.name|escape}</span>
                                {if $sku.sku}<span class="hint">{$sku.sku|escape}</span>{/if}
                                <meta itemprop="price" content="{shop_currency($sku.price, $product.currency, null, 0)}">
                                <meta itemprop="priceCurrency" content="{$wa->shop->currency()}">
                                <span class="price tiny nowrap">{shop_currency_html($sku.price, $product.currency)}</span>
                                {if (!($sku.count === null) && $sku.count <= 0)}
                                    <link itemprop="availability" href="http://schema.org/OutOfStock" />
                                {else}
                                    <link itemprop="availability" href="http://schema.org/InStock" />
                                {/if}
                            </label>
                        </div>
                        {$product_available = $product_available or $sku_available}
                    {/foreach}
                </div>

            {else}

                {* in case there is only one SKU, don't display the selector *}
                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    {$sku = $product.skus[$product.sku_id]}
                    {if $sku.sku}<span class="hint">{$sku.sku|escape}</span>{/if}
                    {if $sku.name}<meta itemprop="name" content="{$sku.name|escape}">{/if}
                    <meta itemprop="price" content="{shop_currency($sku.price, $product.currency, null, 0)}">
                    <meta itemprop="priceCurrency" content="{$wa->shop->currency()}">
                    {if !$sku.available}
                        <link itemprop="availability" href="http://schema.org/Discontinued" />
                        <p><em class="bold error">[`This product is not available for purchase`]</em></p>
                    {elseif !$wa->shop->settings('ignore_stock_count') && !($sku.count === null || $sku.count > 0)}
                        <link itemprop="availability" href="http://schema.org/OutOfStock" />
                        <div class="stocks"><strong class="stock-none"><i class="icon16 stock-transparent"></i>{if $wa->shop->settings('ignore_stock_count')}[`Pre-order only`]{else}[`Out of stock`]{/if}</strong></div>
                    {else}
                        <link itemprop="availability" href="http://schema.org/InStock" />
                    {/if}
                    <input name="sku_id" type="hidden" value="{$product.sku_id}">
                    {$product_available = $product.status && $sku.available && ($wa->shop->settings('ignore_stock_count') || $sku.count === null || $sku.count > 0)}
                </div>

            {/if}

        {/if}

        {* stock info *}
        {if $product_available || count($product.skus) > 1}
            <div class="s-stocks-wrapper">
                {function name=in_stock n=0 low=5 critical=2}
                    {if $n > $low or $n === null}
                        <strong class="stock-high"><i class="icon16 stock-green"></i>[`In stock`]</strong>
                    {elseif $n > $critical}
                        <strong class="stock-low"><i class="icon16 stock-yellow"></i>{* _w("Only %d left in stock", "Only %d left in stock", $n) *}{_w("Only a few items left")}</strong>
                    {elseif $n > 0}
                        <strong class="stock-critical"><i class="icon16 stock-red"></i>{_w("Only %d left in stock", "Only %d left in stock", $n)}</strong>
                    {else}
                        <strong class="stock-none"><i class="icon16 stock-transparent"></i>{if $wa->shop->settings('ignore_stock_count')}[`Pre-order only`]{else}[`Out of stock`]{/if}</strong>
                    {/if}
                {/function}
                {foreach $product.skus as $sku}
                    <div {if $sku.id != $product.sku_id}style="display:none"{/if} class="sku-{$sku.id}-stock" data-sku-count="{$sku.count}">
                        {if $sku.stock}
                            {foreach $stocks as $stock_id => $stock}
                                {if isset($sku.stock[$stock_id])}
                                    {$stock_count = $sku.stock[$stock_id]}
                                {else}
                                    {$stock_count = null}
                                {/if}
                                {$stock.name|escape}: {in_stock n=$stock_count low=$stock.low_count critical=$stock.critical_count}<br>
                            {/foreach}
                        {else}
                            {in_stock n=$sku.count}
                        {/if}
                    </div>
                {/foreach}
                {if $product.sku_type}
                    <div class="sku-no-stock">
                        <strong class="stock-none">[`Product with the selected option combination is not available for purchase`]</strong>
                    </div>
                {/if}
            </div>
        {/if}

        <div class="purchase">

            {if $services}
                {* services *}
                <div class="services service-list-wrapper">
                    {foreach $services as $s}
                        <div class="service-item service-{$s.id}">
                            <label>
                                <input data-price="{shop_currency($s.price, $s.currency, null, 0)}" {if !$product_available}disabled="disabled"{/if} type="checkbox" name="services[]" value="{$s.id}"> {$s.name|escape} {if $s.price && !isset($s.variants)}(+<span class="service-price">{shop_currency_html($s.price, $s.currency)}</span>){/if}
                            </label>
                            {if isset($s.variants)}
                                <select data-variant-id="{$s.variant_id}" class="service-variants" name="service_variant[{$s.id}]" disabled>
                                    {foreach $s.variants as $v}
                                        <option {if $s.variant_id == $v.id}selected{/if} data-price="{shop_currency($v.price, $s.currency, null, 0)}" value="{$v.id}">{$v.name|escape} (+{shop_currency($v.price, $s.currency)})</option>
                                    {/foreach}
                                </select>
                            {else}
                                <input type="hidden" name="service_variant[{$s.id}]" value="{$s.variant_id}">
                            {/if}
                        </div>
                    {/foreach}
                </div>
            {/if}

            {* price *}
            <div class="add2cart">

                <div class="add-form-wrapper">

                    <div class="quantity-wrapper">
                        <div class="volume-buttons">
                            <input class="minus-link decrease-volume" type="button" value="&minus;">
                        </div>
                        <input class="product-quantity-field" type="text" name="quantity" value="1" data-max-quantity="{$product.count}">
                        <div class="volume-buttons">
                            <input class=" plus-link increase-volume" type="button" value="+">
                        </div>
                    </div>

                    <div class="price-wrapper">
                        <span class="compare-at-price nowrap {if !($product.compare_price > 0)}is-hidden{/if}" data-compare-price="{shop_currency_html($product.compare_price, null, null, 0)}" > {shop_currency_html($product.compare_price)} </span>
                        <span data-price="{shop_currency($product.price, null, null, 0)}" class="price nowrap">{shop_currency_html($product.price)}</span>
                    </div>

                    <div class="submit-wrapper">
                        {if $_is_dialog}
                            <input class="s-button white s-close-dialog" type="button" value="[`Cancel`]">
                        {/if}
                        <input type="submit" value="{if $wa->shop->cart->total() > 0}[`Add to cart`]{else}[`Buy now`]{/if}" {if !$product_available}disabled="disabled"{/if}>
                    </div>
                </div>

                <div class="added2cart" style="display: none;">
                    <div class="">{sprintf('[`%s is now in your shopping cart`]', $product.name|escape, $wa->getUrl('shop/frontend/cart'))}</div>
                    <div class="button-block">
                        {if $_is_dialog}
                            <a class="s-button white s-close-dialog" href="javascript:void(0);">[`Back to the store`]</a>
                        {/if}
                        <a class="s-button" href="{$wa->getUrl('shop/frontend/cart')}">[`Go to shopping cart`]</a>
                    </div>
                </div>

                <input type="hidden" name="product_id" value="{$product.id}">
            </div>
        </div>
    </form>
</div>

<script>
( function($) {
    var is_product_exist = (typeof Product === "function");

    (!is_product_exist) ? $.getScript("{$wa_theme_url}js/product.js?v{$wa_theme_version}", initProduct) : initProduct();

    function initProduct() {
        new Product({
            $form: $("#s-product-form{if $_is_dialog}-dialog{/if}"),
            is_dialog: {if $_is_dialog}true{else}false{/if},
            currency: {json_encode($currency_info)},
            services: {if count($product.skus) > 1 or $product.sku_type}{json_encode($sku_services)}{else}false{/if},
            features: {if $product.sku_type}{json_encode($sku_features_selectable)}{else}false{/if},
            default_sku_features: {$default_sku_features|default:""|json_encode}
        });
    }
})(jQuery);
</script>

{/strip}